/* font */@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Bangers|Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Raleway);
/* tag */
html {
  color: #58D3F7;
  /*background-color: #F6CEF5*/
     }
/* id */
#worktag{
  color: green;
}
#major {
  color: #FF8000;
}
/* class */
.bluetext{
  color: blue;
}
p {
  border: 2px dashed #6E6E6E;
  line-height: 50px
}
h1 {
  font-family: 'Poiret One', cursive;
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url(http://fc07.deviantart.net/fs70/f/2013/174/3/e/recycled_texture_background_by_sandeep_m-d6aeau9.jpg);
}
h2 {
  font-family: 'Raleway', sans-serif;
}
